# Generated website directory
_site/

# Sass cache
.sass-cache/

# Jekyll cache & metadata
.jekyll-cache/
.jekyll-metadata

# Notes graph metadata
_includes/notes_graph.json

# Obsidian config
.obsidian/

# Mac Directory Files
**/.DS_Store

# Caddy misc. files
caddy/caddy_config/
caddy/caddy_data/